.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background: var(--color-primary);
  height: 80vh;
  gap: 4.5rem;
  overflow: hidden;
}

.contact-overlay {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
  overflow: hidden;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background: var(--color-gradient-linearRGB-rl);
  border-radius: 1.75rem;
  height: 35rem;
  width: 79%;
  padding: 5rem 6rem;
  position: relative;
  overflow: hidden;
  
}

.contact-subtitle h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: center;
  letter-spacing: 0.05rem;
  color: #d0d0d0;
}

.contact-title h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
.contact-text p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  font-size: 1.25rem;
  letter-spacing: 0.03rem;
  line-height: 1.75rem;
  text-align: center;
  color: #d0d0d0;
}

.contact-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem .5rem;
  width: 100%;
  gap: 1.5rem;
}

.contact-input {
  width: 70%;
}

.contact-input input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.125rem 4.5rem;
  width: 100%;
  height: 100%;
  background: var(--color-grey-70);
  border-radius: .5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 2.125rem;
  letter-spacing: 0.05em;
  color: var(--color-white);
}

.contact-input input::placeholder {
  color: var(--color-white);
}

.contact-button button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 4.5rem;
  width: 100%;
  height: 100%;
  background: var(--color-orange);
  border-radius: .5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 2.25rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--color-white);
}

.contact-vector {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.contact-vector svg {
  width: 100%;
  height: 100%;
}
